src/main/mule/jenkins-cicd-projects.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a4dc78ad-ffb4-460c-85cd-899e8fe69f60" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkinsFlow" doc:id="93468bbe-8673-491d-ba7c-e4c062eaa50b" >
		<http:listener doc:name="Listener" doc:id="47a497ab-3dba-4790-ac92-377b12f1d3e7" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value="#['hello mule soft']" doc:name="Set Payload" doc:id="80f0fc48-3ab2-4a6c-929e-8be3f5a2f351" />
	</flow>
</mule>
